<div class="app-banner">
  <div class="container app-chat">
    <div class="app-chat__input">
      <input type="text" id="chat-box" placeholder="Say something">
    </div>
    <div class="app-chat__messages" id="messages-box"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>