<div>
    <h1>Products</h1>
    <div id="product-list-container">
        <ul>
        {{#each products}}
            <li>
                <div id="product-item">
                <h2 id="title">{{products.title}}</h2>
                <p>{{description}}</p>
                <p>${{price}}</p>
                    <div class="thumbnail-container">
                        <img src="../../{{thumbnail.[0]}}" alt="">
                    </div>
            </div>
            </li>
        {{/each}}
        </ul>
    </div>
    <form action="/api/products" class="add-product-form" method="post" enctype="multipart/form-data">
        <h2>Add product</h2>
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="description" name="description">
        <input type="text" placeholder="code" name="code">
        <input type="number" placeholder="price" name="price">
        <input type="number" placeholder="stock" name="stock">
        <input type="text" placeholder="category" name="category">
        <input type="file" name="thumbnail" multiple>
        <input type="submit" value="Send"> 
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>